
<h2>Upload an awesome image</h2>
<form action="/images/upload" enctype="multipart/form-data" method="post">
  <input type="file" name="awesome_image" accept="image/*">
  <br /><br />
  <input type="submit" value="Upload" />
</form>
